<!DOCTYPE html>

<html lang="en">

  <head>
    <title>Burgers Paradise</title>
    <meta charset="utf-8" />
    <link rel="resetsheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="/socket.io/socket.io.js" defer></script>
    <script type="text/javascript" src="js/menu.js"></script>
    <script src="/vue/vue.js" defer></script>
    <script src="js/vue_script.js" defer></script>
    <link rel="stylesheet" href="css/deli-very.css">


  </head>

  <body>
    <header id="header">
      <h1 id="headline">BurgerHeaven Online</h1>
      <img id="headerimage" src="img/header.jpg">
    </header>

    <main id='myID'>
      <div class="wrapper">
        <div v-for="burger in burgers" class="burgerelement">
          {{burger.name}}
          <img v-bind:src='burger.burgerImage'>
          <ul>
            <li> kCal: {{burger.kCal}} </li>
            <li v-if="burger.lactose == true">
              Contains Lactose
            </li>
            <li v-if="burger.gluten == true">
              Contains Gluten </li>
            <br>
            Add burger to order
            <input type="checkbox" id="checkbox" v-model="choice" v-bind:value="burger.name">
          </ul>
        </div>
      </div>

      <section id="customer">
        <h2>Customer information</h2>
        <h4>Enter your details</h4>
        <p>
          <label for="fullname">Full name:</label><br>
          <input type="text" id="fullname" name="name" v-model="fullname" placeholder="Full Name">
        </p>
        <p>
          <label for="email">Email:</label><br>
          <input type="email" id="email" name="email" v-model="email" placeholder="Email">
        </p>

        <p>Select gender:</p>
        <input type="radio" name="gender" v-model="gender" value="female"> Female<br>
        <input type="radio" name="gender" v-model="gender" value="male"> Male<br>
        <input type="radio" name="gender" v-model="gender" value="non-binary"> Non-binary<br>
        <input type="radio" name="gender" v-model="gender" value="undisclosed"> Undisclosed<br>
        <p>
          <label for="payment">Choose your payment option:</label><br>
          <select id="payment" name="rcp" v-model="payment">
            <option disabled value="">Credit card</option>
            <option>Swish</option>
            <option>Paypal</option>
            <option>Prepaid card</option>
          </select>
        </p>





        <h1> Choose your destination on the map for delivery! </h1>
        <a href="/dispatcher" target="_blank">Open dispatcher in new window</a>.
        <div class="view-box">
          <div id="dots" v-on:click="showOrder">
            <div v-bind:style="{ left: display.x + 'px', top: display.y + 'px'}">
              Deliver
            </div>
          </div>
        </div>

        <div id="orderButton">
          <div class="orderedItems" v-bind="orderlist">

          </div>
          <button v-on:click="addOrder"><img src="/img/order.png" width="100">
            Order!
          </button>
        </div>
      </section>
      <section id='checkout'>
        <div id="pressedbuttonID">
          <h3>Your order</h3>
          <div v-for="burger in choice">{{burger}}</div>
          <br>
          <h3>Customer information</h3>
          Name: {{fullname}} <br>
          E-mail: {{email}} <br>
          Gender: {{gender}} <br>
          Payment method: {{payment}}
        </div>


      </section>
    </main>
  </body>

</html>
