<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BurgerHeaven Online</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script src="js/js_script.js"></script>
        <script src="https://vuejs.org/js/vue.js"></script>
        <script src="js/vue_script.js"></script>
    </head>
    <body>
        <main> 
            <header id="header">
                <h1 id=headline> Welcome to BurgerHeaven Online </h1>
                <img src="/img/header.jpg" id="headerimage" alt="Burger header">
            </header>
           
            
            <section id="section1"> 
                <h2> Select burger</h2>

                <p> This is where you make your burger selection</p>

                
                
                <div class="burgers">
                   <div class="The Flaming Burger"> <h3> The Flaming Burger </h3>
                        <img src="/img/flamingburger.jpg" alt="A Flaming Burger" title="Flaming Burger" width="200" height="200">
                        <ul class="ingredients">
                            <li> Fire</li>
                            <li> Cheese</li>
                            <li> <span id="glutenlactose"> Contains gluten</span> </li>
                            <li> <span id="glutenlactose"> Contains lactose</span> </li>
                       </ul>
                    </div>
                   <div class="Halloumi Burger"><h3> Halloumi Burger </h3>
                        <img src="/img/halloumiburger.jpg" alt="Halloumi Burger" title="Halloumi Burger" width="200" height="200">
                        <ul class="ingredients">
                            <li> Halloumi</li>
                            <li> Cheese</li>
                            <li> <span id="glutenlactose"> Contains gluten</span> </li>
                            <li> <span id="glutenlactose"> Contains lactose</span> </li>
                        </ul>
                    </div>
                   <div class="Green Burger"> <h3> Green Burger </h3>
                        <img src="/img/greenburger.jpg" title="Gluten and lactos free" title="Gluten and lactos free Burger" width="200" height="200">
                        <ul class="ingredients">
                            <li> Gluten free</li>
                            <li> Lactos free</li>
                            <li> Vegetarian</li>
                            <li> Green</li>
                        </ul>
                    </div>
                 </div>
          </section>
            
            
            <section id="section2"> 
                <h2> Customer information</h2>


                <p> This is where you provide necessary information</p>

                <h3> Delivery information</h3>

                <p>
                    <label for="fullname">Full name</label><br>
                    <input type="text" id="fullname" name="fn" required="required" placeholder="First- and last name">
                </p>

                <p>
                    <label for="email">E-mail</label><br>
                    <input type="email" id="email" name="em" required="required" placeholder="E-mail address">
                </p>

                 <p>
                    <label for="street">Street</label><br>
                    <input type="text" id="street" name="st" required="required" placeholder="Street name">
                </p>

                <p>
                    <label for="house">House</label><br>
                    <input type="number" id="street" name="st" required="required" placeholder="House number">
                </p>


                <p>
                    <label for="payment">Payment options</label><br>
                    <select id="payment" name="payment">
                        <option>Swish</option>
                        <option>Credit card</option>
                        <option>Paypal</option>
                        <option>Prepaid card</option>
                    </select>
                </p>

                <input type="radio" name="gender" value="male"> Male<br>
                <input type="radio" name="gender" value="female"> Female<br>
                <input type="radio" name="gender" value="other"> Other<br>
                <input type="radio" name="gender" value="undisclosed" checked="checked"> Undisclosed<br><br>

             </section>   
            
            <button type="submit"><img src="/img/order.png" height="40" width="50"> Order</button>
        
            
            
            
        </main>

    </body>
</html>